.search-form__validation {
    font-size: 14px;
    margin-left: 15px;
    height: 25px;
    color: #868686;
    font-size: 14px;
    line-height: normal;
}

ng2-auto-complete {
    font-size: 14px;
    margin-left: 15px;
    height: 25px;
    color: #868686;
    font-size: 14px;
    line-height: normal;
}