virtual-scroll {
    display: block;
    width: 100%;
    height: 500px;
}

.clarify__search__item {
    width: 100%;
    height: 120px;
}

.search-results {
    height: 100%;
    // overflow: scroll;
}