.company_full__item__info__imgwr__img {
    max-width: 250px;
    @media screen and (max-width: 1600px) {
        max-width: 180px;
    }
    @media screen and (max-width: 1200px) {
        max-width: 155px;
    }
}