<div class="header__params__mob">
    <div class="header__params__mob__wrap" *ngIf="false">
        <select class="header__params__mob__select">
            <option value="asdf">₽ — российский рубль</option>
            <option value="asdf">₽ — российский рубль</option>
            <option value="asdf">₽ — российский рубль</option>
        </select>
        <a class="header__params__mob__signin style__disable" href="/admin">Вход</a>
    </div>
    <div class="header__params__mob__wrap gray" *ngIf="false">
        <div class="header__params__mob__wrap__title">Локация</div>
        <select class="header__params__mob__select">
                <option value="asdf">Федеральный округ</option>
                <option value="asdf">Федеральный округ</option>
                <option value="asdf">Федеральный округ</option>
            </select>
        <select class="header__params__mob__select">
                <option value="asdf">Регион</option>
                <option value="asdf">Регион</option>
                <option value="asdf">Регион</option>
            </select>
    </div>
</div>