<button class="header__params__item__title choose-plase__title style__underlined">Московская область</button>
<div class="choose-plase__popup">
    <div class="choose-plase__popup__wrap">
        <div class="choose-plase__popup__part choose-plase__county">
            <div class="choose-plase__popup__part__title style__support">Федеральный округ</div>
            <div class="choose-plase__popup__part__wrap">
                <div class="choose-plase__popup__part__item style__link">Дальневосточный</div>
                <div class="choose-plase__popup__part__item style__link">Приволжский</div>
                <div class="choose-plase__popup__part__item style__link">Северо-Западный</div>
                <div class="choose-plase__popup__part__item style__link">Северо-Кавказский</div>
                <div class="choose-plase__popup__part__item style__link">Сибирский</div>
                <div class="choose-plase__popup__part__item style__link select">Уральский</div>
                <div class="choose-plase__popup__part__item style__link">Центральный</div>
                <div class="choose-plase__popup__part__item style__link">Южный</div>
            </div>
        </div>
        <div class="choose-plase__popup__part choose-plase__region">
            <div class="choose-plase__popup__part__title style__support">Регион</div>
            <div class="choose-plase__popup__part__wrap">
                <div class="choose-plase__popup__part__item style__link">Белгородская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Брянская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Владимирская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Воронежская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Ивановская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Калужская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Костромская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Курская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Липецкая, обл</div>
                <div class="choose-plase__popup__part__item style__link">Белгородская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Брянская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Владимирская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Воронежская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Ивановская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Калужская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Костромская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Курская, обл</div>
                <div class="choose-plase__popup__part__item style__link">Липецкая, обл</div>
            </div>
        </div>
    </div>
</div>