@font-face {
    src: url('fonts/stem.woff') format('woff');
    font-family: 'Stem';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('fonts/stem__italic.woff') format('woff');
    font-family: 'Stem';
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url('fonts/stem__bold.woff') format('woff');
    font-family: 'Stem';
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url('fonts/asket__bold.woff') format('woff');
    font-family: 'Asket';
    font-weight: 700;
    font-style: normal;
}