<div class="about">
    <div class="about__title style__title">«Печкин» — сервис для поиска запчастей котельного оборудования</div>
    <div class="about__sell">
        <div class="about__sell__title">Продаёте запчасти</div><img class="about__sell__img" src="search_module/assets/images/icons/card.svg" alt="">
        <div class="about__sell__text">Участие в проекте позволит найти новых клиентов.<br>Ваши предложения увидят те, кто в них нуждается.<br></div>
        <div class="about__sell__text">Сервис не привязан к регионам, вас найдут клиенты и из соседних городов.<br>Если Ваш бизнес уже охватывает несколько регионов — не останавливайтесь.<br>Печкин — это новый инструмент для роста.<br></div>
    </div>
    <div class="about__search">
        <div class="about__search__title">Ищете запчасти</div><img class="about__search__img" src="search_module/assets/images/icons/search.svg" alt="">
        <div class="about__search__text">Введите артикул и Печкин покажет:</div>
        <ul class="about__search__list">
            <li class="about__search__list__item">где самая низкая цена;</li>
            <li class="about__search__list__item">где есть поблизости;</li>
            <li class="about__search__list__item">откуда привезти быстрее.</li>
        </ul>
        <div class="about__search__text">Если артикул вам не известен, воспользуйтесь каталогами <br>производителей. </div>
    </div>
    <div class="about__question">
        <div class="about__question__title">— Кто участвует в проекте?</div>
        <div class="about__question__text">Инициаторы — группа сервисных компаний, которая задумалась об обмене данными о наличии запчастей на складах друг друга.<br><br>Уже на этапе тестирования интерес проявили ещё несколько сервисных компаний и поставщиков запчастей. Сотрудничество
            с ними продолжается. Печкин приглашает к сотрудничеству и остальные компании, которые работают на рынке запчастей.<br><br>Участие в этом проекте позволяет увеличить оборот собственных продаж запчастей и найти варианты оперативной доставки
            запчастей для собственных нужд.</div>
    </div>
    <div class="about__question">
        <div class="about__question__title">— Как присоединиться к проекту?</div>
        <div class="about__question__text">Участие в проекте — бесплатное.<br><br>На сервисе публикуются предложения по запасным частям к котельному оборудованию.<br>Предоставьте актуальный прайс-лист — ваши предложения появятся на Печкине.<br><br>Заявку на участие и ваши вопросы пишите
            на электронную почту <a class="style__link" href="mailto:welcome@pechk.ru" target="_blank">welcome@pechk.ru</a>.</div>
        <!-- <br><a class="style__link" href="https://docs.google.com/document/d/137vT4AP8IawS65GCq3vnUhnNbHz1EpVokb9mUia1hZ4/edit?usp=sha"
                target="_blank">Требования</a> к предоставляемым данным.<br>-->
    </div>
</div>