<footer class="common_wrapper__footer footer">
    <div class="wrap footer__wrap">
        <nav class="footer__nav">
            <ul class="footer__nav__list">
                <li class="footer__nav__list__item"><a class="footer__nav__list__item__link style__link" routerLink="/about">О проекте</a></li>
                <li class="footer__nav__list__item" *ngIf="false"><a class="footer__nav__list__item__link style__link" href="#">Добавить склад</a></li>
                <li class="footer__nav__list__item" *ngIf="false"><a class="footer__nav__list__item__link style__link" href="#">Условия использования</a></li>
            </ul>
        </nav>
        <a class="footer__working-out style__link" target="_blank" href="http://echelon960.ru"><span>Сделано в</span><span class="footer__working-out__wrap"><img src="search_module/assets/images/icons/footer__working-out.png" alt=""><span>echelon 960.ru</span></span></a>
    </div>
</footer>